@model IEnumerable<TodoManagment.UI.Models.TodoVM>

@{
    ViewData["Title"] = "Index";
}

<h1>ToDo List</h1>

<p>
    <a asp-action="Create">Create New ToDo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                    <button type="submit" class="btn btn-link" onclick="return confirm('Are you sure to delete ToDo?')">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
